.tabContainer {
    height: 65%;
    max-width: 100%;
}

.main-tab {
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #e5e5e5;
    border: 40px solid transparent;
    border-image: url(../assets/clipart-border-medieval-8.png) 15% round;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    flex: 1 0 auto;
    /*scrollbal for Mozilla*/
    scrollbar-color: #474847 #808080;
    scrollbar-width: thin;
    overflow: hidden;
}

.mainThemes {
    padding-bottom: 5px;
    border-bottom: 1px solid #474747 !important;
}

.tabs {
    height: 100%;
}

.patchNumbList {
    height: 97%;
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 25%;
    border: 0px !important;
}

.patchNumbList, ::after, ::before {
    box-sizing: content-box;
}

.patches {
    margin-left: -15px;
    margin-right: -15px;
}

.patchNumbList button[aria-selected="true"], .mainThemes button[aria-selected="true"] {
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    /*тут стилизация активного элемента*/
}

.patchNumbList button[aria-selected="true"]:after, .mainThemes button[aria-selected="true"]:after {
    content: none;
}

.horTabs {
    height: 90%;
}

.description {
    height: 97%;
    padding: 10px;
    padding-top: 15px;
    overflow-y: auto;
}

.description2 {
    padding-bottom: 15px;
}

.horTabs h2 {
    text-align: center;
    margin-bottom: 20px;
}

.horTabs h3 {
    font-size: 20px;
    text-decoration: underline;
}

.tabHeader, .patches {
    color: #e5e5e5;
}

@media (max-width: 992px) {
    .tabContainer {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .tabContainer {
        max-width: 100%;
    }
    .main-tab {
        padding: 0;
        padding-bottom: 10px;
        border-width: 20px;
    }
    .tabHeader {
        padding: 17px !important;
    }
    .description h2 {
        font-size: 20px;
    }
    .description h3 {
        font-size: 15px;
    }
    .patches {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #808080;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #808080;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #474847;
}
