.tabContainer {
    min-width: 900px;
    width: 1280px;
    margin: 0 auto;
    color: #ffffff;
    border: 40px solid transparent;
    border-image: url(../assets/clipart-border-medieval-8.png) 15% round;
    padding: 10px;
    padding-top: 0px;
    height: 600px;
    flex: 1 0 auto;
}

.mainThemes {
    padding-bottom: 5px;
}

.patchNumbList {
    height: 470px;
    overflow-y: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 5px;
    width: 15%;
}

.patchNumbList button[aria-selected="true"], .mainThemes button[aria-selected="true"] {
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    /*тут стилизация активного элемента*/
}

.patchNumbList button[aria-selected="true"]:after, .mainThemes button[aria-selected="true"]:after {
    content: none;
}

.description {
    height: 470px;
    padding: 10px;
    overflow-y: auto;
}

.description h2 {
    text-align: center;
    margin-bottom: 20px;
}

.description h3 {
    font-size: 20px;
    text-decoration: underline;
}

.tabHeader, .patches {
    color: #ffffff;
}

.defaultTab {
    color: red;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}