footer {
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
    flex: 0 0 auto;
    height: 18%;
    overflow: hidden;
}

@media (max-width:1280px) {
    footer {
        max-width: 970px;
        width: 95%;
    }
}

@media (max-width: 992px) {
    footer {
        max-width: 750px;
        width: 95%;
    }
    footer h2 {
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    footer {
        max-width: none;
        width: 100%;
    }
    footer h2 {
        font-size: 10px;
        margin-left: 15px;
    }
    .socials {
        max-width: 80%;
    }
    .youtube {
        margin-bottom: 10px;
        height: 17px !important;
    }
    .vk {
        margin-left: -10px;
    }
}

footer h2 {
    width: 50%;
    align-self: center;
    color: #e5e5e5;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.youtube img {
    height: 26px;
    margin-right: 20px;
}

/*Fix for IE*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .discord {
        min-width: 30%;
    }
}

.discord img {
    height: 30px;
    margin-top: 5px;
}

.vk img {
    height: 74px;
}
